


<div class="content">
  <div class="text-center">
    <h1>Sign In</h1>
    <h5>PLease enter your gmail & password</h5>
  </div>
  <div class="form">
    <form #form="ngForm"  >
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" [formControl]="email"  >
      </div>

       <div class="alert" role="alert" *ngIf="email?.errors?.required">
        Email is required
      </div>

      <div>
        <h5>We'll never share your email with anyone else.</h5>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1"  [formControl]="password" >
      </div>
      <button type="submit" class="btn btn-primary" (click)="onClick()"  >Submit</button>

    </form>
  </div>
</div>






<!-- <p>Form value:</p>
<pre>{{contact.value | json}}</pre>
<pre>{{contact.controls.email.value| json}}</pre> -->
<!-- <pre>{{ form.controls.emailName?.errors?.required | json }}</pre> -->
