<div class="content">
  <div class="text-center">
    <h1>Sign In</h1>
    <h5>PLease enter your gmail & password</h5>
  </div>
  <div class="form">
    <div class="form">
      <form #form="ngForm" [formGroup]="contact">
        <div class="mb-3">
          <!-- <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" required>  -->

          <app-input
            [type]="type"
            [id]="type"
            [title]="emailAdress"
            [formGroup]="contact"
            [name]="'email'"
            [require]="true"
            [placeHolder]="'Email address'"
          ></app-input>
        </div>

        <div
          class="alert"
          role="alert"
          *ngIf="
            (contact.controls.email?.errors?.required ||
              contact.controls.email?.invalid) &&
            contact.controls.email?.touched
          "
        >
          Email is required
        </div>

        <div>
          <h5>We'll never share your email with anyone else.</h5>
        </div>
        <div class="mb-3">
          <!-- <input type="password" class="form-control" id="exampleInputPassword1"  formControlName="password" required> -->
          <app-input
            [title]="emailPassword"
            [id]="password"
            [formGroup]="contact"
            [name]="'password'"
            [placeHolder]="'Password'"
            [require]="true"
          ></app-input>

          <div
            class="alert"
            role="alert"
            *ngIf="
              contact.controls.password?.errors?.required &&
              contact.controls.password?.touched
            "
          >
            Password is required
          </div>
        </div>
        <!-- <button type="submit" class="btn btn-primary" [disabled]="Contact.invalid" >Submit</button> -->
        <app-button
          [title]="submit"
          [disable]="contact.invalid"
          (actionClick)="onSubmit()"
        ></app-button>
      </form>
    </div>
  </div>

  <!-- <p>Form value:</p>
<pre>{{contact.value | json}}</pre>
<pre>{{contact.controls.email.value| json}}</pre> -->
  <!-- <pre>{{ form.controls.emailName?.errors?.required | json }}</pre> -->
</div>
