h1{
    font-size: 24px;
    color: white;
}
h5{
    font-size: 14px;
    color:gray;
}
.form-label{
    color: white;
}
.alert{
    color: palevioletred;
    margin: 0;
}
.alert1{
    color: yellow;
}
.input{
    width: 100%;
    padding: 5px;
}
.form-control{
    width: 100%;
    padding: 12px 20px;
}